p{
    font-family: 'Asimovian', sans-serif;
    font-size: 20px;
    color: red;
}
h2{
    font-family: 'Asimovian', sans-serif;
    font-size: 30px;
    color: yellow;
}
h3{
    font-family:  sans-serif;
    font-size: 25px;
    color: #181313;
    justify-content: center;
    text-align: left;
}
body{
    background-color: grey;
}
h1{
    font-family: sans-serif;
    font-size: 30px;
    color: blue;
    text-align: center;
    border: 5px dotted #c6e708b7;
    padding: 15px;
    margin: 10px;
}
img{
    width: 300px;
    height: 300px;
}


/* this the code for the table class */
        h1{
        color: #c04d0bfa;
        }
        table{
        border: 5px outset #1408bdfa;
        background-color: #adb4b4;
        }
        th, td {
        border: 5px solid #bd7408fa;
        /* border-collapse: collapse; */
        }

        th {
        background-color: #96D4D4;
        }

        td{
        border: 2px dashed #bd7408fa;
        background-color: #cca80a;
        border-radius: 50px;
        }